body{
  background-color: #fae3d9;
}
hr{
  background-color: #fae3d9;
  border-style : none;
  border-top-style: dotted;



  border-top-width: 5px;

  border-top-color:#12cad6;

  height : 0px;
  width : 6%;



}
